<footer class="page-footer font-small pt-2">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-11">
        <h6 class="text-uppercase font-weight-bold">About us</h6>
        <p>TorGames is a game website that allow you to get knowledge and to be
          updated about different type of games. We provide different games to download for free.</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="gototop">
        <button class="btn btn-outline-primary p-2" (click)="gotoTop()">Go to top 👆</button>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> TorGames</a>
  </div>
</footer>
