<div class="container mt-5">
  <div class="" style="float: left; width: 80%">
    <div class="mb-5">
      <div class="title mb-4">
        <h3><strong>Crysis</strong></h3>
      </div>
      <div class="float-left mr-3">
        <img class="card-img-top rounded" style="width: 230px; height: 320px" src="https://cdn.tutsplus.com/psd/uploads/legacy/psdtutsarticles/linkb_60vgamecovers/44.jpg" alt="Card image cap">
        <div class="" style="text-align: center">
          <button class="btn btn-danger p-2 rounded" style="font-size: 14px; text-transform: none;">Add to favorites</button>
        </div>
      </div>
      <div class="mb-3 about-game">
        <b>Year:</b> 2007 <br>
        <b>Category:</b> Action, Shooter, 3D, 1st Person <br>
        <b>Developer:</b> Crytek Studios <br>
        <b>Publisher:</b> Electronic Arts / GOG <br>
        <b>Interface language:</b> RUS|ENG <br>
        <b>Voice language:</b> RUS|ENG <br><br>

        <strong>System Requirements:</strong> <br>
        <b>Operation system:</b> XP / Vista / 7 / 8 / 10 (32-64bit) <br>
        <b>Processor:</b> Intel Pentium 4 2.8 Ghz (3.2 Ghz for Vista) <br>
        <b>RAM:</b> 1 Gb (1.5 Gb for Vista) <br>
        <b>Video card:</b> 256 Mb | NVIDIA GeForce 6800 GT, ATI Radeon 9800 <br>
        <b>Free disk space:</b> 6,7 Gb <br>
      </div>
    </div>
    <div class="description" style="margin-top: 100px">
      <div class="mb-2" style="font-size: 18px"><strong>About the game:</strong></div>
      Late 2007 release from the German developer Crytek. Best Shooter of the Year by GameSpot. For all fans of science fiction with a dynamic storyline - "Crysis". The game is in the best traditions of "Far Cry".<br><br>

      2020 on the Lingshan Islands, scientists discover the remains of an ancient alien spacecraft, which later turns out to be only the initial connecting link leading to the unraveling of many mysteries. At the same time, a conflict between the United States and the DPRK is playing out around the aforementioned islands, which significantly complicates the activities of the research expedition.<br><br><br>
      <div class="mb-2" style="font-size: 18px"><strong>Advantages and features of the game:</strong></div>
      <b>1.</b> Game genre: first-person shooter and download crisis 1 via torrent for free everybody who plays games dreams.<br>
      <b>2.</b> Game mode: single-player and multiplayer.<br>
      <b>3.</b> Gaming platform: Windows, PS 3, Xbox Live.<br>
      <b>4.</b> A powerful plot that touches on a whole lot of nuances against the background of pre-apocalyptic events - from the interaction of countries against the background of the impending death of all mankind to the interaction between individuals.<br>
      <b>5.</b> High quality graphics and sound of the game.<br>
      <b>6.</b> Maximum naturalism: from detailed images to changing weather conditions.<br>
      <b>7.</b> Eleven full-fledged game locations by the number of levels.<br>
      <b>8.</b> We have a full Russian version of the game on our website, in general, download and play.<br>
    </div><br><br><br>
    <div class="gallery text-center mb-4">
      <div class="mb-5" style="font-size: 18px"><strong>Trailer / Gameplay:</strong></div>
      <iframe width="650" height="405" src="https://www.youtube.com/embed/u6gsOQ8HZAU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br><br>
      <div class="mb-5" style="font-size: 18px"><strong>Screenshots from the game:</strong></div>
      <div class="row">
        <div class="column float-left" style="width: 50%">
          <img class="game-image" src="https://3dnews.ru/assets/external/galleries/2019/11/12/5dcab768b4182ee2328b4580/7e323f51d7a10ac41f0e03aa1b63628f.png" alt="Snow" style="width:100%">
        </div>
        <div class="column float-left" style="width: 50%">
          <img class="game-image" src="https://3dnews.ru/assets/external/illustrations/2019/11/12/997504/customize.jpg" alt="Forest" style="width:100%">
        </div>
        <div class="column float-left" style="width: 50%">
          <img class="game-image" src="https://3dnews.ru/assets/external/illustrations/2019/11/12/997504/warhead.png" alt="Mountains" style="width:100%">
        </div>
        <div class="column float-left" style="width: 50%">
          <img class="game-image" src="https://3dnews.ru/assets/external/illustrations/2020/09/21/1021124/sm.kEY5N9L.750.jpg" alt="Mountains" style="width:100%">
        </div>
        <div class="column float-left" style="width: 50%">
          <img class="game-image" src="https://3dnews.ru/assets/external/galleries/2020/07/01/5efc437ab4182e377198aa15/c2be3b364c87f77c376a18b62aca4dc1.png" alt="Mountains" style="width:100%">
        </div>
        <div class="column float-left" style="width: 50%">
          <img class="game-image" src="https://3dnews.ru/assets/external/illustrations/2014/04/15/818652/crysis-1.jpg" alt="Mountains" style="width:100%">
        </div>
        <div class="column float-left" style="width: 50%">
          <img class="game-image" src="https://3dnews.ru/assets/external/illustrations/2020/06/30/1014607/sm.5168924d518b178f0b9d6749c620ffa2.750.png" alt="Mountains" style="width:100%">
        </div>
        <div class="column float-left" style="width: 50%">
          <img class="game-image" src="https://3dnews.ru/assets/external/illustrations/2020/07/19/1016062/Crysis_2.jpg" alt="Mountains" style="width:100%">
        </div>
      </div>
    </div>

    <div class="torrent text-center mb-5">
      <div class="mb-2" style="font-size: 18px"><strong>Size:</strong> 3.77 Gb | Repack by Igruha</div>
      <a href=""><button class="btn btn-primary">Download the game</button></a>
    </div>

    <div class="recommendation">
      <div class="mb-2" style="font-size: 18px"><strong>Recommended Games:</strong></div>
      <div *ngFor="let element of Games.slice(0, 8); let i = index;" class="" style="width: 165px; float: left; margin-right: 30px; margin-top: 30px">
        <a href="/product"><img class="card-img-top rounded" style="width: 165px; height: 234px" src="https://cdn.tutsplus.com/psd/uploads/legacy/psdtutsarticles/linkb_60vgamecovers/44.jpg" alt="Card image cap">
        </a>
        <div class="" style="text-align: center">
          <a href="/product" class="btn btn-link p-0 m-3">{{element.name}}</a><br>
        </div>
      </div>
    </div>

    <!-- Comments -->
    <div class="comments" style="clear: both; width: 600px">
      <div class="card mb-3 wow fadeIn">
        <div class="card-header font-weight-bold">Leave a comment</div>
        <div class="card-body">
          <form (submit)="addReview(newName.value, newComment.value)">
            <div class="form-group">
              <label for="replyFormName">Your name</label>
              <input type="email" id="replyFormName" class="form-control" #newName>
            </div>
            <label for="replyFormComment">Your comment</label>
            <textarea class="form-control" id="replyFormComment" rows="1" #newComment></textarea>
            <br>
            <div class="text-center mt-2">
              <button class="btn btn-primary btn-md" type="submit">Send</button>
            </div>
          </form>
        </div>
      </div>

      <div class="comments" style="clear: both; width: 600px">
        <div class="card mb-3 wow fadeIn">
          <div class="card-header font-weight-bold">Comments</div>
          <div class="card-body">
              <div class="form-group " *ngFor="let comment of comments">
                <small class="float-right" style="font-weight: normal">{{today | date}}</small>
                <img class="float-left mr-2" style="width: 70px; height: 70px" src="https://s1.torrents-igruha.org/templates/gamestorgreen/dleimages/noavatar.png">
                <strong for="replyFormComment">{{comment.name}}</strong><br><br>
                <label for="replyFormName">{{"> "+comment.review}}</label>
                <hr>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-categories style="width: 20%"></app-categories>
</div>
