<div class="container mt-5">
  <div class="" style="float: left; width: 80%">
    <div class="mb-5">
      <div class="title mb-4" >
        <h3><strong>{{gameInfo.name}}</strong></h3>
      </div>
      <div class="float-left mr-3">
        <img class="card-img-top rounded" style="width: 230px; height: 320px" src="{{gameInfo.image}}" alt="Card image cap">
        <div class="" style="text-align: center">
          <button class="btn btn-danger p-2 rounded" style="font-size: 14px; text-transform: none;">Add to favorites</button>
        </div>
      </div>
      <div class="mb-3 about-game">
        <b>Year:</b> {{gameInfo.year}} <br>
        <b>Category:</b> {{gameInfo.category}} <br>
        <b>Developer:</b> {{gameInfo.developer}} <br>
        <b>Publisher:</b> {{gameInfo.publisher}} <br>
        <b>Interface language:</b> {{gameInfo.language}} <br>
        <b>Voice language:</b> {{gameInfo.voice}} <br><br>

        <strong>System Requirements:</strong> <br>
        <b>Operation system:</b> {{gameInfo.os}} <br>
        <b>Processor:</b> {{gameInfo.processor}} <br>
        <b>RAM:</b> {{gameInfo.ram}} <br>
        <b>Video card:</b> {{gameInfo.videocard}} <br>
        <b>Free disk space:</b> {{gameInfo.disk}} <br>
      </div>
    </div>
    <div class="description" style="margin-top: 100px">
      <div class="mb-2" style="font-size: 18px"><strong>About the game:</strong></div>
      {{gameInfo.about}}<br><br><br>
      <div class="mb-2" style="font-size: 18px"><strong>Advantages and features of the game:</strong></div>
      <b>1.</b> Game genre: first-person shooter and download crisis 1 via torrent for free everybody who plays games dreams.<br>
      <b>2.</b> Game mode: single-player and multiplayer.<br>
      <b>3.</b> Gaming platform: Windows, PS 3, Xbox Live.<br>
      <b>4.</b> A powerful plot that touches on a whole lot of nuances against the background of pre-apocalyptic events - from the interaction of countries against the background of the impending death of all mankind to the interaction between individuals.<br>
      <b>5.</b> High quality graphics and sound of the game.<br>
      <b>6.</b> Maximum naturalism: from detailed images to changing weather conditions.<br>
      <b>7.</b> Eleven full-fledged game locations by the number of levels.<br>
      <b>8.</b> We have a full Russian version of the game on our website, in general, download and play.<br>
    </div><br><br><br>
    <div class="gallery text-center mb-4">
      <div class="mb-5" style="font-size: 18px"><strong>Trailer / Gameplay:</strong></div>
      <iframe width="650" height="405" src="https://www.youtube.com/embed/u6gsOQ8HZAU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br><br>
      <div class="mb-5" style="font-size: 18px"><strong>Screenshots from the game:</strong></div>
      <div class="row">
        <div class="column float-left" style="width: 50%">
          <img class="game-image" src="{{gameInfo.screen1}}" alt="Snow" style="width:100%">
        </div>
        <div class="column float-left" style="width: 50%">
          <img class="game-image" src="{{gameInfo.screen2}}" alt="Forest" style="width:100%">
        </div>
        <div class="column float-left" style="width: 50%">
          <img class="game-image" src="{{gameInfo.screen3}}" alt="Mountains" style="width:100%">
        </div>
        <div class="column float-left" style="width: 50%">
          <img class="game-image" src="{{gameInfo.screen4}}" alt="Mountains" style="width:100%">
        </div>
        <div class="column float-left" style="width: 50%">
          <img class="game-image" src="{{gameInfo.screen5}}" alt="Mountains" style="width:100%">
        </div>
        <div class="column float-left" style="width: 50%">
          <img class="game-image" src="{{gameInfo.screen6}}" alt="Mountains" style="width:100%">
        </div>
        <div class="column float-left" style="width: 50%">
          <img class="game-image" src="{{gameInfo.screen7}}" alt="Mountains" style="width:100%">
        </div>
        <div class="column float-left" style="width: 50%">
          <img class="game-image" src="{{gameInfo.screen8}}" alt="Mountains" style="width:100%">
        </div>
      </div>
    </div>

    <div class="torrent text-center mb-5">
      <div class="mb-2" style="font-size: 18px"><strong>Size:</strong> {{gameInfo.size}} </div>
      <a href=""><button class="btn btn-primary">Download the game</button></a>
    </div>
    <div class="installing-instruction mb-5">
      <!-- Collapse buttons -->
      <div class="text-center">
        <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Installing instructions
        </button>
      </div>
      <!-- / Collapse buttons -->

      <!-- Collapsible element -->
      <div class="collapse border border-primary rounded-lg bg-light" id="collapseExample">
        <div class="m-3">
          1. Antivirus deletes tablet files, disable it, most of the problems are associated with it.<br>
          2. Install the torrent client. For example: Utorrent, qBittorrent etc.<br>
          3. Download our game file and start the download via the torrent client.<br>
          4. Run setup.exe in the game installer files.<br>
          5. Enjoy :)<br>
        </div>
      </div>
    </div>

    <div class="recommendation">
      <div class="mb-2" style="font-size: 18px"><strong>Recommended Games:</strong></div>
      <div *ngFor="let element of games$.slice(0, 8); let i = index;" class="" style="width: 165px; float: left; margin-right: 30px; margin-top: 30px">
        <a href="/product" routerLink="product"><img class="card-img-top rounded" style="width: 165px; height: 234px" src="{{element.image}}" alt="Card image cap">
        </a>
        <div class="" style="text-align: center">
          <a href="/product" routerLink="product" class="btn btn-link p-0 m-3">{{element.name}}</a><br>
        </div>
      </div>
    </div>

    <!-- Comments -->
    <div class="comments" style="clear: both; width: 600px">
      <div class="card mb-3 wow fadeIn">
        <div class="card-header font-weight-bold">Leave a comment</div>
        <div class="card-body">
          <form (submit)="addReview(newName.value, newComment.value)">
            <div class="form-group">
              <label for="replyFormName">Your name</label>
              <input type="email" id="replyFormName" class="form-control" #newName>
            </div>
            <label for="replyFormComment">Your comment</label>
            <textarea class="form-control" id="replyFormComment" rows="1" #newComment></textarea>
            <br>
            <div class="text-center mt-2">
              <button class="btn btn-primary btn-md" type="submit">Send</button>
            </div>
          </form>
        </div>
      </div>

      <div class="comments" style="clear: both; width: 600px">
        <div class="card mb-3 wow fadeIn">
          <div class="card-header font-weight-bold">Comments</div>
          <div class="card-body">
              <div class="form-group " *ngFor="let comment of comments$">
                <small class="float-right" style="font-weight: normal">{{today | date}}</small>
                <img class="float-left mr-2" style="width: 70px; height: 70px" src="assets/avatar.jpg">
                <strong for="replyFormComment">{{comment.name}}</strong><br><br>
                <label for="replyFormName">{{"> "+comment.review}}</label>
                <hr>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-categories-list style="width: 20%"></app-categories-list>
</div>
