<div class="ml-5 mr-5" style="height: 500px">
  <div class="text-center p-4">
    <img src="https://www.flaticon.com/svg/static/icons/svg/1581/1581192.svg" style="height: 60px; width: 60px">
    <h3 class="mt-4">Are you over 18 years old?</h3>
    <div class="container mt-5">
      <a routerLink="product" href="/product"><button class="btn btn-primary btn-md mt-2 mr-5 mb-4 rounded">Yes</button></a>
      <a routerLink="catalog" href="/catalog"><button class="btn btn-primary btn-md mt-2 mb-4 rounded">No</button><br></a>
    </div>
  </div>
</div>
