<div *ngFor="let element of gamecard$; let i = index" class="" style="width: 165px; float: left; margin-right: 30px; margin-top: 30px">
  <a href="/product" [routerLink]="['/product/'+element.id]"><img class="card-img-top rounded" style="width: 165px; height: 234px" src="{{element.image}}" alt="Card image cap">
  </a>
    <div class="" style="text-align: center">
      <a href="/product" [routerLink]="['/product/'+element.id]" class="btn btn-link p-0 m-3">{{element.name}}</a><br>
      <button *ngIf="a == 0 || a != i+1" class="btn btn-outline-primary p-2 rounded" (click)="increment(i)" id="{{i}}" style="font-size: 14px; text-transform: none;">{{fav | uppercase}}</button>
      <button *ngIf="a == i+1" class="btn btn-outline-warning p-2 rounded" (click)="increment(i)" id="{{i}}" style="font-size: 14px; text-transform: none;">{{rmfav | uppercase}}</button>
  </div>
</div>
